<div class="container">

  <!-- Logo de la empresa -->
    &nbsp;
    <div class="container">
      <h2 align="center">Sistema de Gestion de Almacenamiento Logistico de Mercancias</h2>&nbsp;
      <img src="https://ustvstaticcdn2-a.akamaihd.net/i/channel/picture/1/3/5/4/13549243/13549243_logo_expreso-01_1371046967,192x192,r:1.jpg" class="mx-auto d-block" width="250" alt="expreso-andino Logo" > 
      &nbsp;
    </div>
  
  <!-- Operaciones -->
    <div class="card-deck">
      <div class="card bg-primary">
        <div class="card-body text-center">
          <button type="button" class="btn">
            <i class="glyphicon glyphicon-search" style="font-size:38px; color:white;"></i>
          </button>
          <p class="card-text text-white"align="justify">Busqueda detallada de mercancia por cliente.</p>
        </div>
      </div>
      <div class="card bg-danger">
        <div class="card-body text-center">
          <button type="button" class="btn">
            <i class="glyphicon glyphicon-plus" style="font-size:38px; color:white;"></i>
          </button>
          <p class="card-text text-white"align="justify">Registrar salida de mercancia de la bodega de 
            Expreso Andina sede Cartagena.
          </p>
        </div>
      </div> 
      <div class="card bg-success">
        <div class="card-body text-center">
          <button type="button" class="btn" routerlink="receipt" (click)="receipt()">
            <i class="glyphicon glyphicon-plus" style="font-size:38px; color:white;"></i>
          </button>
          <p class="card-text text-white" align="justify">Registrar ingreso de mercancia a la bodega de 
            Expreso Andina sede Cartagena.
          </p>
        </div>
      </div> 
      <div class="card bg-primary">
        <div class="card-body text-center">
          <button type="button" class="btn">
            <i class="glyphicon glyphicon-file" style="font-size:38px; color:white;"></i>
          </button>
          <p class="card-text text-white"align="justify">Generar informe detallado sobre almacenamiento de mercancias.</p>
        </div>
      </div>
    </div>
  
  </div>
  